@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


/* Estilos generales */
body {
  padding: 0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: #06141B;
  border-bottom: 1px solid #585757;
  /*filter: grayscale(100%);*/
  overflow-x: hidden;
}



/* Barra de navegación */
.nav-bar { 
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  color: #fff;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.11); /* Sombra */
  backdrop-filter: blur(4px);
}

.nav-links {
  display: flex;
  gap: 20px;
}


.nav-links p a {
  color: #fff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links p a::after{
  content: '';
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 2px;
  border-bottom:2px solid #b6b6b6;
  left: 0;
  scale: 0;
  transition: .3s;
}

.nav-links p a:hover:after{
  scale: 100%;
}

.nav-links p a:hover {
  color: #dadada;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.nav-links {
  display: flex;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

html{
  scroll-behavior: smooth;
}

.logo, .titulo-navbar {
  align-items: center;
  font-size: 2rem;
  display: flex;
}

.titulo-navbar {
  font-family: "Spicy Rice", serif;
  letter-spacing: 2px;
  margin: 0;
  margin-left: .6rem;
  position: relative;
}

.titulo-navbar::before{
  content: '';
  position: absolute;
  left: -7px;
  width: 17%;
  height: 35%;
  border-top: 1.5px solid rgb(255, 255, 255);
  border-left: 1.5px solid rgb(255, 255, 255);
  top: 5px;
}

.titulo-navbar::after{
  content: '';
  position: absolute;
  right: 0;
  width: 39%;
  height: 1px;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  bottom: 7px;
}

.titulo-navbar{animation:tracking-in-contract 2s ease-in-out} 
@keyframes tracking-in-contract{
  0%{
    letter-spacing:.6em;opacity:0
  }
  40%{
    opacity:.6

  }
  75%{
    letter-spacing:-.2rem; opacity:1
  }
  100%{
    letter-spacing:normal;
  }
}

.section {
  padding: 50px;
  text-align: center;
  background-color: #8b8585;
  border-bottom: 1px solid #585757;
  filter: grayscale(100%);
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

/*nuestros productos*/
.bienvenida{
  margin-bottom: 10rem;
  width: auto;
  height: auto;

}

.nuestros-productos{
  margin: 0;
  color: #fff;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image:linear-gradient(90deg, #e0dfdf00 0%, rgba(0, 0, 0, 0.884) 89%), url("img/visuales/back.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  mask-image: linear-gradient( rgb(0, 0, 0) 75%, transparent);
}

.div-h2{
  padding: 2rem 4rem;
  background-color: #000000af;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid white;
}

.nuestros-productos h2{
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
}

.nuestros-productos{animation:blur-in 2.7s ease-in-out} 
@keyframes blur-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.secciones{
  width: 30%;
}

.nuestros-productos p {
  padding:1rem .2rem;
  font-weight: bold;
  font-size: 20px;
}

.secciones p {
  margin: 0;
  width: fit-content;
  font-family: "Share Tech Mono", monospace;

  padding:1.9rem .2rem;

}

.secciones p a{
  color: white;
  text-decoration: none;
  position: relative;
  transition: font-size .3s ease-in-out, letter-spacing .3s ease-in-out;
}

.secciones p a::after{
  content: '';
  position: absolute;
  width: 0;
  top: -5px;
  height: 130%;
  border:2px solid #ffffff;
  border-radius: 15px;
  left: -10px;
  scale: 0;
  transition: .3s ease-in-out;
}

.secciones p a:hover:after{
  scale: 100%;
}

.secciones p a:hover{
  color: #808080;
}

.secciones p:hover{
  letter-spacing: 4px;
  font-size: 23px;
}


/* Estilos del carrusel */
.carousel-section, .carousel-section-2, .carousel-section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20rem 0;
  padding: 2rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-image:/*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),*/linear-gradient(to right, rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.658)), url("img/visuales/download\ \(2\).jpeg");
  background-size: cover;
}

.carousel-title, .carousel {
  flex: 1; 
  max-width: 50%; 
  box-sizing: border-box;
}

.carousel-title h2, .carousel-title h1 {
  width: fit-content;
}

.Nombre{
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  color: rgb(30, 201, 201);
  position: relative;
}

.Nombre::before{
  content: '';
  position: absolute;
  width: 15%;
  height: 70%;
  top: -5px;
  left: -10px;
  border-top: 2px solid rgb(30, 201, 201);
  border-left: 2px solid rgb(30, 201, 201);
}

/*.Nombre::after{
  content: '';
  position: absolute;
  width: 12%;
  height: 70%;
  bottom:-5px;
  right: 0;
  border-bottom: 2px solid aqua;
}*/

.descripcion{
  font-family: "Spicy Rice", serif;
  letter-spacing: 5px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  line-height: 1.5em;
  position: relative;
}

.descripcion::before{
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  bottom: 0px;
  border-bottom: 2.5px solid rgb(255, 255, 255);
}

.descripcion::after{
  content: '';
  position: absolute;
  width: 40%;
  height: 4px;
  bottom: -20px;
  left: 0;
  border-bottom: 2.5px solid rgb(255, 255, 255);
}

.whatsapp-btn button, .whatsapp-btn-2 button {
  background-color: transparent;
  color: white;
  border: 2px #1ebe5b solid;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  transition: .5s;
}

.whatsapp-btn-2{
  display: none;
}

.whatsapp-btn button:hover {
  background-color: #1ebe5b;
  box-shadow: 5px 5px 12px #13a00f;
  scale: 1.07;
}

.carousel-title{
  overflow-wrap: break-word;
  padding-right: 3rem;
  padding-left: 2rem;
  text-align: left;
}

.carousel {
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner, .carousel-inner-2, .carousel-inner-3 {
  display: flex;
  width: 400%;
  flex-wrap: nowrap;
  transition: transform 1s ease-in-out;
}

.carousel-item, .carousel-item-2, .carousel-item-3 {
  width: 100%;
  transition: opacity 1s ease-in-out;
  padding: 0;
}

.carousel-item img, .carousel-item-2 img, .carousel-item-3 img {
  border-radius: 10px;
  width: 400px;
  height: 450px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.carousel-indicators {
  text-align: center;
  margin-top: 20px;
}

.dot, .dot-2, .dot-3 {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active, .dot-2.active, .dot-3.active {
  background-color: rgba(255, 255, 255, 1);
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 6px;
  padding: .5rem 1rem .5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 2rem;
  transition: .5s;
}

.prev:hover, .next:hover{
  box-shadow: 0 0 14px rgb(212, 212, 212);
  background-color: rgba(255, 255, 255, 0.589);
  color: rgba(0, 0, 0, 0.589);
  scale: 1.20;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


/* Sección sobre nosotros */
.section-about {
  margin-top: 5rem;
  color: #fff;
  padding: 50px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  filter: grayscale(100%);
  background-image: url('img/visuales/navbarimg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.section-about::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* El 0.5 es el nivel de oscuridad*/
  z-index: 1;
}

.section-about > * {
  position: relative;
  z-index: 2;
  color: white; 
}

/* Sección de contacto */

.section-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  text-align: center;
  background-color: #000000;
  border-bottom: 1px solid #ffffff;
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

.info{
  width: 600px;
  color: white;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  padding: 0;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.contact-info i {
  margin-right: 10px;
  color: #bbbbbb;
}

.formulario{
  display: flex;
  width: 500px;
  border-radius: 20px;
  background-color: #00000028;
  backdrop-filter: blur(2px);

}

form{
  border-radius: 20px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.945);
  padding: 50px 40px;
}

form h2{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 40px;
  color: white;
}

.input-group{
  display: flex;
  flex-direction: column;
}

input, textarea, .enviar{
  background-color: #9494948c;
  padding: 20px 20px;
  margin-bottom: 25px;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}

::placeholder{
  color: #ffffffb7;

}

:focus{
  outline: 2px solid white;
}

.enviar{
  margin: 0;
  background-color: white;
  color: #585757;
  font-size: 20px;
  font-weight: bold;
  transition: .3s;
}

.enviar:hover{
  background-color: #11131b;
  color: white;
}


/* Pie de página */
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 100; /* Asegura que esté por encima de otros elementos */
  /*animation: wiggle 2s linear infinite;*/
  transform-origin: 50% 5em;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.whatsapp-float img {
  width: 45px;
  padding-top: 12px;
}

.whatsapp-float:hover {
  background-color: #1ebe5b;
}

.whatsapp-float {
  display: none;
}

.floating-message {
  position: absolute;
  right: 70px; 
  bottom: 10px; 
  background-color: #25d365b0;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
  white-space: nowrap;
  font-size: 14px;
  z-index: 90; 
}

.whatsapp-float.show-message .floating-message {
  opacity: 1;
  transform: translateX(0);
}

.whatsapp-float.hide-message .floating-message {
  opacity: 0;
  transform: translateX(100%);
}


/* Media Queries para dispositivos móviles */
@media screen and (max-width: 980px) {
  .menu-toggle {
    display: block;
  }

  .whatsapp-float {
    display: block;
  }
  
  .carousel-item img, .carousel-item-2 img {
    width: 70%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .carousel-title{
    flex: none; 
    max-width: 100%; 
    box-sizing: border-box;
    padding-right: 1rem;
  }

  .carousel-item, .carousel-item-2{
    padding: 2rem;
  }

  .carousel-title{
    flex: none; 
    max-width: 100%; 
    box-sizing: border-box;
    padding-right: 1rem;
  }
}




@media screen and (max-width: 768px) {

  /* Barra de navegación */

  .nav-bar {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: none;
    box-shadow: none;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-20px);
      opacity: 0;
    }
  }

  .menu-btn {
    display: block;
    margin-left: auto;
    margin: 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    backdrop-filter: blur(30px);
    border-radius: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1rem;
    border: 2px solid white;
    border-right: 0;
  }

  .nav-links.mobile-visible {
    display: flex;
    animation: slideDown 1s ease forwards; 
  }
  .nav-links.mobile-hidden{
    animation: slideUp 1s ease forwards ; 
  }
  .nav-links p {
    margin-bottom: 1rem;
  }
/*
  .nav-links {
    gap: 0;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-links p {
    margin: .5rem;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
  }*/
  .logo{
    width: 40px;
    height: 40px;
  }
  .titulo-navbar {
    font-size: 20px;
    animation: none;
  }

  .titulo-navbar::before{
    top: 0;
  }
  .titulo-navbar::after{
    bottom: 3px;
  }
  /* Productos */
  .nuestros-productos{
    justify-content: center;
    flex-direction: column;
    background-image:linear-gradient(90deg, #e0dfdf00 0%, rgba(0, 0, 0, 0.884) 100%), url("img/visuales/back.jpg");
    background-size: cover;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 4rem;
    mask-image: linear-gradient(rgba(0, 0, 0) 60%, transparent);
  }

  .secciones {
    align-self: flex-start;
    padding-left: 4rem;
  }

  .div-h2{
    padding: 0rem 3.5rem;
    max-width: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.397);
    align-items: center;
  }

  .nuestros-productos h2 {
    font-size: 24px;
    margin-left: 0;
    position: relative;
  }

  .carousel-item img, .carousel-item-2 img, .carousel-item-3 img {
    width: 70%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .carousel-title{
    flex: none; 
    max-width: 100%; 
    box-sizing: border-box;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .Nombre, .descripcion{
    overflow-wrap: break-word;
  }

  .Nombre{
    font-size: 25px;
  }

  .descripcion{
    font-size: 35px;
    margin-bottom: 0;
    font-weight: 200;
    letter-spacing: 0;
  }

  .whatsapp-btn{
    display: none;
  } 

  .whatsapp-btn-2{
    display: block;
    width: fit-content;
  }
  .pedido-container{
    display: flex;
    justify-content: center;
  }

  .whatsapp-btn-2 button{
    font-size: 15px;
  }

  .carousel-indicators{
    margin: 0;
  }

  .carousel{
    padding: 0;
  }

  .carousel-item, .carousel-item-2, .carousel-item-3{
    padding: 2rem;
  }

  .carousel-section, .carousel-section-2, .carousel-section-3 {
    display: flex;
    flex-direction: column ;
    margin: 0;
    margin-top: 10rem;
    padding: 0;
    padding-top: 7rem;
    padding-bottom: 4rem;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("img/visuales/download\ \(2\).jpeg");
    background-size: cover;
    border-radius: 0;
    mask-image: linear-gradient(to top, rgb(0, 0, 0) 80%, transparent);
  }

  /* Botones del carrusel */
  .prev, .next {
    font-size: 24px;
    padding: 10px;
  }

  /* Sección sobre nosotros y contacto */
  .section-about p,
  .section-contact p {
    font-size: 16px;
  }

  .section-contact{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .info{
    margin-bottom: 25px;
    width: auto;
  }
  .formulario{
    width: 100%;
  }
  .formulario form{
    padding: 2rem 1rem;
  }

  .contact-info p {
    font-size: 14px;
  }

  footer p {
    font-size: 14px;
  }
}


@media screen and (max-width: 380px) {
  .section-contact{
    padding: 0;
  }
}