/* Estilos generales */
body {
  padding: 0;
  padding-top: 70px;
  font-family: 'Arial', sans-serif;
  margin: 0;
  background: linear-gradient(45deg, #1E201E, #3C3D37,#656f75);
  border-bottom: 1px solid #585757;
  /*filter: grayscale(100%);*/
}

/* Barra de navegación */
.nav-bar { 
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 900;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/download (1).jpeg");
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.534); /* Sombra */
}

.nav-bar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* El 0.5 es el nivel de oscuridad*/
  z-index: 1;
}

.nav-bar > * {
  position: relative;
  z-index: 2;
  color: white; 
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links p a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links p a:hover {
  color: #b6b6b6;
}

.logo {
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  display: flex;
}

.title-navbar {
  margin: 0;
  margin-top: .3rem;
  margin-left: .3rem;
}
.section {
  padding: 50px;
  text-align: center;
  background-color: #8b8585;
  border-bottom: 1px solid #585757;
  filter: grayscale(100%);
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
}

.nuestros-productos{
  margin-top: 5rem;
  color: #fff;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image:linear-gradient(90deg, #e0dfdf88 10%, rgba(0, 0, 0, 0.9) 80%), url("img/background.jpg");
  background-size: cover; /* La imagen cubre todo el área del div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.nuestros-productos li{
  margin: .5rem;
  padding: .2rem;
  font-weight: bold;
}
/* Estilos del carrusel */
.carousel-section {
  text-align: center;
  margin: 7rem;
  margin-left: 0;
  margin-right: 0;
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image:/*linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),*/linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("img/textura-papel-blanco.jpg");
  background-size: cover;
}

.carousel {
  padding: 2rem;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 400%;
  flex-wrap: nowrap;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  width: 100%;
  transition: opacity 1s ease-in-out;
}

.carousel-item img {
  border-radius: 10px;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.carousel-indicators {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}


.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  transition: .5s;
}

.prev:hover, .next:hover{
    box-shadow: 0 0 14px rgb(212, 212, 212);
    background-color: rgba(255, 255, 255, 0.589);
    color: rgba(0, 0, 0, 0.589);
    scale: 1.20;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


/* Sección sobre nosotros */
.section-about {
  margin-top: 5rem;
  color: #fff;
  padding: 50px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  filter: grayscale(100%);
  background-image: url('img/navbarimg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.section-about::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* El 0.5 es el nivel de oscuridad*/
  z-index: 1;
}

.section-about > * {
  position: relative;
  z-index: 2;
  color: white; 
}

/* Sección de contacto */

.section-contact {
  padding: 50px;
  text-align: center;
  background-color: #8b8585;
  border-bottom: 1px solid #585757;
  filter: grayscale(100%);
  background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  justify-content: space-between;
}


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info li {
  padding: 0;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #333;
}

.contact-info i {
  margin-right: 10px;
  color: #000;
}

/* Pie de página */
footer {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}


/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  /* Barra de navegación */
  .nav-bar {
    width: 95%;
    flex-direction: column;
    align-items: stretch;
  }

  .nav-links {
    gap: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-links p {
    margin: .5rem;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
  }

  /* Logo */
  
  .logo img {
    height: 20px;
    width: 25px;
  }

  .title-navbar {
    font-size: 10px;
    margin-top: .3rem;
  }

  /* Productos */
  .nuestros-productos{
    background-image:linear-gradient(90deg, #ffffff77 10%, rgba(0, 0, 0, 0.904) 100%), url("img/background.jpg");
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .nuestros-productos h2 {
    font-size: 24px;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .carousel{
    padding: 0;
  }
  .carousel-item{
    padding: 2rem;
  }

  .carousel-section {
    margin: 0;
    margin-top: 7rem;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("img/textura-papel-blanco.jpg");
    background-size: cover;
    border-radius: 0;
  }

  /* Botones del carrusel */
  .prev, .next {
    font-size: 24px;
    padding: 10px;
  }

  /* Sección sobre nosotros y contacto */
  .section-about p,
  .section-contact p {
    font-size: 16px;
  }

  .section-contact{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .contact-info li {
    font-size: 14px;
  }

  footer p {
    font-size: 14px;
  }
}

/*@media (max-width: 480px) {
  /* Barra de navegación 
  .nav-bar {
    padding: 15px;
  }

  .title-navbar {
    font-size: 18px;
  }

  /* Links del menú 
  .nav-links {
    width: 100%;
  }

  .nav-links li {
    margin-top: 5px;
  }

  /* Productos 
  .nuestros-productos h2 {
    font-size: 20px;
  }

  /* Botones del carrusel 
  .prev, .next {
    font-size: 20px;
    padding: 8px;
  }

  /* Secciones de texto 
  .section-about p,
  .section-contact p {
    font-size: 14px;
  }

  /* Contacto 
  .contact-info li {
    font-size: 12px;
  }

  footer p {
    font-size: 12px;
  }
}*/